<app-link></app-link>
<div class="sezione">
  <h1 class="title">CHI SIAMO</h1>
  <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, recusandae ut quibusdam voluptates officiis quidem, provident dolores pariatur, iste unde voluptas iure fuga fugiat et minima! Debitis magnam ut unde.</p>
  <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ut. Reprehenderit, veniam? Iure tempora, qui ab maxime eaque quam inventore totam, quaerat ea, reiciendis quo sit ex nisi assumenda animi.</p>
  <div class="container">
    <h2 class="partner">PARTNER</h2>
    <img src="assets/partner/farmaca.png" alt="image not load">
    <img src="assets/partner/artestile.png" alt="image not load">
    <img src="assets/nastri-white.png" alt="" class="nastro">
  </div>
  <app-footer></app-footer>
</div>
