<div class="link-container">
  <a routerLink="/home"><b>HOME</b></a>
  <a routerLink="/chi-siamo"><b>CHI SIAMO</b></a>
  <a routerLink="/contatti"><b>CONTATTI</b></a>
  <br>
  <b id="puntini">.   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   </b>
  <br>
  <a routerLink="/evento" id="event-animation"><b>EVENTO DEL MESE</b></a>
</div>
<div id="contenitore">
  <a routerLink="/home"><img id="logo" src="assets/LogoSimoStyle.png"></a>
  <img id="collega" src="assets/nastri.png">
  <img id="sinistra" src="assets/nastri.png">
  <img id="destra" src="assets/nastri.png">
</div>
  <router-outlet></router-outlet>
