<div class="grid">
  <p id="titolo">SIMOSTYLE</p>
  <p id="sottotitolo">ACCONCIATURA & BARBERIA</p>
  <div id="btn-wrap">
    <button id="prenota"><b>PRENOTA ORA</b></button>
  </div>
  <p id="discover"><b>SCROPRI L'ESPERIENZA DELL'</b><b id="gold">UNICITÀ</b></p>


  <div id="sezione">
    <p>
      <b class="gold">VIENI</b> nel nostro salone specializzato<br> PER <b>DONNA</b> E <b>UOMO</b>
    </p>
    <img src="assets/quality.png" alt="BEST QUALITY">
    <p>
      Da <b>6 ANNI</b> offriamo servizi <span class="gold">esclusivi</span> e prodotti <b class="gold">MADE IN ITALY</b>
    </p>
  </div>
</div>
