<app-link></app-link>
<div class="grid">
  <p id="titolo">SIMOSTYLE</p>
  <p id="sottotitolo">ACCONCIATURA & BARBERIA</p>
  <div id="btn-wrap">
    <a href="tel:+393283464284">
      <button id="prenota"><b>PRENOTA ORA</b></button>
    </a>
  </div>
  <p id="discover"><b>SCROPRI L'ESPERIENZA DELL'</b><b id="gold">UNICITÀ</b></p>


  <div id="sezione">
    <p>
      <b class="gold">VIENI</b> nel nostro salone specializzato<br> PER <b>DONNA</b> E <b>UOMO</b>
    </p>
    <div id="striscione">
      <p>SCOPRI I NOSTRI <br><a routerLink="/evento"><b>EVENTI</b></a></p>
      <img src="assets/quality.png" alt="BEST QUALITY">
      <p>SCOPRI I NOSTRI <br><a routerLink="/evento"><b>EVENTI</b></a></p>
    </div>
    <p>
      Da <b>6 ANNI</b> offriamo servizi <span class="gold">esclusivi</span> e prodotti <b class="gold">MADE IN ITALY</b>
    </p>
    <app-point-card class="point-card"></app-point-card>
    <br>
    <app-point-card2 class="point-card"></app-point-card2>
    <br>
    <app-point-card3 class="point-card"></app-point-card3>
  </div>
  <div id="contenitore">
    <img src="assets/LogoSimoStyle.png" alt="SimoStyle Logo" id="footer-logo">
  </div>
  <div id="recensioni">
    <app-carosello-recensioni></app-carosello-recensioni>
  </div>
  <app-footer></app-footer>
</div>
