<app-link></app-link>
<div class="container">
<div id="btn-wrap">
  <a href="tel:+393283464284">
    <button id="prenota"><img src="assets/social/facebook.svg" alt="icon not load"><b>SIMOSTYLE</b></button>
  </a>
</div>
<div id="btn-wrap">
  <a href="https://www.instagram.com/simostyle_borgomanero/">
    <button id="prenota"><img src="assets/social/instagram.svg" alt="icon not load"><b>SIMOSTYLE</b></button>
  </a>
</div>
<div id="btn-wrap">
  <a href="tel:+393283464284">
    <button id="prenota"><img src="assets/social/whatsapp.svg" alt="icon not load"><b>+39 3283464284</b></button>
  </a>
</div>
<div id="btn-wrap">
  <a href="tel:+393283464284">
    <button id="prenota"><img src="assets/social/tumblr.svg" alt="icon not load"><b>SIMOSTYLE</b></button>
  </a>
</div>
<div id="btn-wrap">
  <a href="https://www.tiktok.com/@ceruzbarber">
    <button id="prenota"><img src="assets/social/tiktok.svg" alt="icon not load"><b>CERUZBARBER</b></button>
  </a>
</div>
<app-footer></app-footer>
</div>
